   body {
        margin: 2%;
        padding: 0px;
    }
    .base-container{
        background: #fff;
    }
    .body-container{
        display: block;
        max-height: 90%;
        max-width: 90%;
        background: #ddd;
        border-radius: 10px;
    }
    .center {
        text-align: center;
    }
    
    .italic {
        font-style: italic;
    }
    
    .figure-container {
        background: #fff;
        max-height: 400px;
        max-width:  285px;
        display: block;
        margin: 0px;
        padding: 0px;
        border-radius: 10px;
    }
    .fig-table{
        display: table;
        margin: 0px;
        padding: 0px;
    }
    .fig-pic{
        display: table-cell;
        border-radius: 10px;
        margin: 0px;
        padding: 0px 0px 0px 0px;
    }
    .fig-item{
        display: table-cell;
        margin: 0px;
        padding: 0px 20px 0px 20px;
    }

    .red-border{
        border-style: solid;
        border-color: red; 
    }
    .blue-border{
        border-style: solid;
        border-color: blue;
    }
    .green-border{
        border-style: solid;
        border-color: green;
    }